In [5]:
import geopandas as gpd
import pandas as pd

In [6]:
chatta = gpd.read_file('data/chattanooga_city_lim.geojson').to_crs('epsg:4326')

In [7]:
ham = gpd.read_file('data/tl_2022_47_bg/tl_2022_47_bg.shp').to_crs('epsg:4326')
ham['GEOID'] = ham['GEOID'].astype(str)

In [8]:
chatta = ham.sjoin(chatta)
chatta.head()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,...,pop1940,pop1990,objectid,shape_leng,pop1930,pop1980,pop1950,pop1970,pop_2000,pop1960
452,47,065,001400,2,470650014002,Block Group 2,G5030,S,502967,0,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
458,47,065,001900,3,470650019003,Block Group 3,G5030,S,3775609,30874,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
459,47,065,001600,1,470650016001,Block Group 1,G5030,S,223210,0,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
463,47,065,010435,1,470650104351,Block Group 1,G5030,S,2526524,0,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
492,47,065,001300,2,470650013002,Block Group 2,G5030,S,1293147,0,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"

In [10]:
ham.shape

(4562, 13)

In [12]:
sg1 = pd.read_csv('generated_OD/Hamilton_TN_2021-01-31_2021-02-24/safegraph_combs/sg_2021-01-04.csv')
sg1['home_cbg'] = sg1['home_cbg'].astype(str)
sg1.head()

,home_cbg,poi_cbg,visits,home_loc_lat,home_loc_lon,work_loc_lat,work_loc_lon,go_time,go_time_secs,go_time_str,return_time,return_time_secs,return_time_str,home_geom,work_geom
0,470650004001,470650004001,20.0,35.043763,-85.267766,35.046873,-85.266001,10:35:00,38100.0,10:35,13:42:49.403125,49369.403125,13:42,POINT (-85.26776599298492 35.043763443184865),POINT (-85.266001 35.0468735)
1,470650004001,470650004001,20.0,35.049181,-85.264166,35.042864,-85.269658,12:23:00,44580.0,12:23,15:30:49.403125,55849.403125,15:30,POINT (-85.26416580000003 35.04918095),POINT (-85.269658 35.0428635)
2,470650004001,470650004001,20.0,35.046323,-85.268245,35.043233,-85.267208,11:42:00,42120.0,11:42,14:49:49.403125,53389.403125,14:49,POINT (-85.26824493388959 35.04632300569107),POINT (-85.26720767740053 35.04323308694435)
3,470650004001,470650004001,20.0,35.048085,-85.267872,35.042479,-85.268413,11:33:00,41580.0,11:33,14:40:49.403125,52849.403125,14:40,POINT (-85.26787164999999 35.048085300000004),POINT (-85.26841335367762 35.042478687010956)
4,470650004001,470650004001,20.0,35.045679,-85.266627,35.044451,-85.264860,13:49:00,49740.0,13:49,16:56:49.403125,61009.403125,16:56,POINT (-85.26662724707155 35.04567940735987),POINT (-85.26486041323415 35.044450686409796)

In [13]:
sg_within_chatta = sg1.merge(chatta, left_on='home_cbg', right_on='GEOID')
sg_within_chatta

,home_cbg,poi_cbg,visits,home_loc_lat,home_loc_lon,work_loc_lat,work_loc_lon,go_time,go_time_secs,go_time_str,...,pop1940,pop1990,objectid,shape_leng,pop1930,pop1980,pop1950,pop1970,pop_2000,pop1960
0,470650004001,470650004001,20.0,35.043763,-85.267766,35.046873,-85.266001,10:35:00,38100.0,10:35,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
1,470650004001,470650004001,20.0,35.049181,-85.264166,35.042864,-85.269658,12:23:00,44580.0,12:23,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
2,470650004001,470650004001,20.0,35.046323,-85.268245,35.043233,-85.267208,11:42:00,42120.0,11:42,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
3,470650004001,470650004001,20.0,35.048085,-85.267872,35.042479,-85.268413,11:33:00,41580.0,11:33,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
4,470650004001,470650004001,20.0,35.045679,-85.266627,35.044451,-85.264860,13:49:00,49740.0,13:49,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12950,470650124003,470650124003,13.0,35.033910,-85.299902,35.036534,-85.305905,14:23:00,51780.0,14:23,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
12951,470659802001,470650026003,1.0,35.081721,-85.153111,35.028760,-85.293934,10:44:00,38640.0,10:44,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
12952,470659802001,470650114453,3.0,35.074618,-85.139696,35.043233,-85.167195,14:16:00,51360.0,14:16,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
12953,470659802001,470650114453,3.0,35.081721,-85.153111,35.044337,-85.166535,08:09:00,29340.0,08:09,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"
12954,470659802001,470650114453,3.0,35.072251,-85.131588,35.044337,-85.166535,15:20:00,55200.0,15:20,...,"128,163","152,420",1,839599.372557,"119,798","169,565","131,041","119,082","155,554","180,009"

In [14]:
sg1.shape, sg_within_chatta.shape

((18220, 15), (12955, 43))

In [30]:
df_grouped = sg_within_chatta.groupby('home_cbg').nth([range(2)]).reset_index()

In [39]:
home = 'home_cbg'
df_grouped[home].unique()

array(['470650004001', '470650004002', '470650006001', '470650006002',
       '470650006003', '470650007001', '470650007002', '470650007003',
       '470650007004', '470650008001', '470650011001', '470650011002',
       '470650012001', '470650012002', '470650013001', '470650013002',
       '470650014001', '470650014002', '470650016001', '470650018001',
       '470650018002', '470650019001', '470650019002', '470650019003',
       '470650020001', '470650023001', '470650024001', '470650024002',
       '470650024003', '470650024004', '470650025001', '470650025002',
       '470650025003', '470650026002', '470650026003', '470650028001',
       '470650028002', '470650028003', '470650029001', '470650029002',
       '470650030001', '470650030002', '470650031001', '470650032001',
       '470650032002', '470650032003', '470650033001', '470650033002',
       '470650033003', '470650033004', '470650033005', '470650033006',
       '470650034001', '470650034002', '470650034003', '470650103061',
       '470650104113', '470650104131', '470650104311', '470650104312',
       '470650104313', '470650104314', '470650104321', '470650104322',
       '470650104323', '470650104324', '470650104331', '470650104332',
       '470650104333', '470650104334', '470650104341', '470650104351',
       '470650104352', '470650104353', '470650105011', '470650105012',
       '470650105013', '470650105014', '470650105015', '470650105016',
       '470650105021', '470650105022', '470650105023', '470650106001',
       '470650106003', '470650107001', '470650107002', '470650107003',
       '470650109011', '470650109021', '470650111002', '470650113111',
       '470650113112', '470650113113', '470650113114', '470650113115',
       '470650113211', '470650113212', '470650113213', '470650113214',
       '470650113231', '470650113232', '470650113233', '470650113251',
       '470650113252', '470650113253', '470650113261', '470650113262',
       '470650113263', '470650114021', '470650114022', '470650114023',
       '470650114024', '470650114111', '470650114112', '470650114113',
       '470650114131', '470650114132', '470650114133', '470650114134',
       '470650114135', '470650114421', '470650114441', '470650114442',
       '470650114451', '470650114452', '470650114453', '470650114461',
       '470650114462', '470650114471', '470650114472', '470650116001',
       '470650116002', '470650116003', '470650117001', '470650117002',
       '470650117003', '470650118001', '470650118006', '470650119001',
       '470650119002', '470650120001', '470650120002', '470650121001',
       '470650121002', '470650121003', '470650121004', '470650121005',
       '470650122001', '470650122002', '470650122003', '470650123001',
       '470650123002', '470650123003', '470650124001', '470650124002',
       '470650124003', '470659802001'], dtype=object)

In [36]:
cbg_count_df = len(sg_within_chatta.home_cbg.unique())
cbg_count_df / 200

0.79